/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - GENERAL SETTINGS SECTION  */
/*   02 - TYPOGRAPHY SECTION  */
/*   03 - JUMBOTRON SECTION  */
/*   04 - NAVIGATION SECTION */
/*   05 - ABOUT SECTION */
/*   06 - SERVICES SECTION */
/*   07 - WORK SECTION */
/*   08 - CLIENTS SECTION */
/*   09 - SOCIAL MEDIA SECTION */
/*   10 - CONTACT SECTION */
/*   11 - FOOTER SECTION */
/*   12 - RESPONSIVE SECTION */


/******** GENERAL SETTINGS SECTION START ********/

html,
body {
    height: 100%;

    /* Hiding Scroll Bar */
    overflow: scroll;
    overflow-x: hidden;
}

/* Hiding the Scroll-bar START*/
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Hiding the Scroll-bar END*/


.title {
    text-align: center;
    font-weight: 600;
    font-size: 10pt;
    letter-spacing: 7pt;
}

#particles {
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 2;
    position: absolute;
} 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    letter-spacing: 2pt;
} 

/******** TYPOGRAPHY SECTION START ********/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2pt;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: #898989;
    line-height: 25px; 
}

.preloader-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0C0C0C;
    z-index: 6;
    overflow: hidden;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    border: 4px solid #fff;
    border-left-color: #0C0C0C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: -30px 0 0 -40px;
    animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/******** HEADER SECTION START ********/

.header {
	background: url('../img/ava.jpg') no-repeat center center;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;

}

.header .headline {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.headline h2 {
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    letter-spacing: 8pt;
    line-height: 22pt;
    color: #fff;
}

.headline h3 {
    font-size: 10pt;
    font-weight: 100; 
    color: #dcdcdc;
    padding-top: 10px;
    letter-spacing: 1.5pt;
}

.header .arrow-down{
  position: absolute;
  bottom: 110px;
  left: 50%;
  margin-left: -10px;
  width: 21px;
  height: 29px;
  background: url('../img/arrow-down.png') no-repeat center center;
  display: block;
  -webkit-animation: bounce-fade 1.2s infinite; /* Safari 4+ */
  -moz-animation:    bounce-fade 1.2s infinite; /* Fx 5+ */
  -o-animation:      bounce-fade 1.2s infinite; /* Opera 12+ */
   animation:        bounce-fade 1.2s infinite; /* IE 10+ */
}


@-webkit-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-moz-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-o-keyframes bounce-fade {
    0%   { opacity: 0; bottom:70px; }
    100% { opacity: 1; bottom: 35px; }
}
@keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}

/******** NAVIGATION SECTION START ********/

.menu-btn {
  font-size: 24pt;
  background: none;
  color: #898989;
  text-align: center;
  cursor: pointer;
  border: 0px;
  top: 30px;
  right: 30px;
  position: fixed;
  z-index: 5;
}

.menu-btn:hover {
  opacity: 0.6;
}

/******** ABOUT SECTION START ********/

.about {
    padding-top: 220px;
}

.about .line {
    margin: 20px auto;
    width: 25px;
    height: 1px;
    background-color: #dcdcdc;
}

.about .main-text {
    margin: 20px auto;
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 1px;
    width: 600px;
    color: #898989;
    line-height: 15pt;
}


/******** SERVICES SECTION START ********/

.services {
    margin-top: 100px;
    margin-bottom: 220px;
}


.services .fa {
    font-size: 22pt;
    margin-top: 10px;
}

.services h4 {
    font-size: 10pt;
    font-weight: 400;
    letter-spacing: 1pt;
    margin-top: 20px; 
}

.services p {
     margin-top: 10px;
     font-size: 10pt;
     font-weight: 400;
     color: #898989;
     letter-spacing: 1px;
     line-height: 15pt;
}

/******** WORK SECTION START ********/

.work {
    margin-top: 150px;
    width: auto;
    background-color: #1b1b1b;
    height: auto;
}

.work .title {
    color: #fff;
    padding-top: 100px;
    padding-bottom: 70px;
}

.work img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 600ms ease;
    -webkit-transition: -webkit-filter 600ms ease;
}

.work img:hover {
    cursor: pointer;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.margin {
    margin-bottom: 150px;
} 

.work .col-md-4 {
    margin-top: 30px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/******** CLIENTS SECTION START ********/

.clients {
    margin-top: 220px;
    margin-bottom: 220px;
}

.clients .title {
    
}

.clients .line {
    margin: 20px auto;
    width: 25px;
    height: 1px;
    background-color: #dcdcdc;
}

.clients p {
    text-align: center;
    letter-spacing: 1pt;
}

.clients img {
    margin-top: 50px;
}


/******** SOCIAL MEDIA SECTION START ********/

.links {
    margin-top: 150px;
    background-color: #1b1b1b;
    width: auto;
    height: auto;
}

.links .fa {
    font-size: 30px;
    padding: 150px 0;
    color: #fff; 
}

.links .fa:hover {
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    color: #707070;
}

/******** CONTACT SECTION START ********/

.contact {
    background: url('../img/back.jpg') no-repeat center center;
    background-size: cover;
    background-color: #1b1b1b;
    width: auto;
    height: auto;
}

.contact .info {
    padding: 300px 0; 
}

.contact .fa {
    font-size: 22pt;
    color: #fff;
}

.contact h4 {
    color: #fff;
}

.form {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1b1b1b;
}

.form .text {
    width: 100%;
    height: 40px;
    padding: 15px 15px;
    border: 0;
    font-size: 10pt;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.form .text:focus {
    transition: border .6s;
    -webkit-transition: border .6s;
    outline: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.form .email {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    padding: 15px 15px;
    border: 0;
    font-size: 10pt;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff; 
}

.form .email:focus {
    transition: border .6s;
    -webkit-transition: border .6s;
    outline: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.form .msg {
    margin-top: 30px;
    width: 100%;
    height: 130px;
    padding: 15px 15px;
    border: 0;
    font-size: 10pt;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.form .msg:focus {
    transition: border .6s;
    -webkit-transition: border .6s;
    outline: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.form .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10pt;
    letter-spacing: 2pt;
    color: #1b1b1b;
    background-color: #fff;
    border-radius: 0px;
    padding: 15px 40px;
    margin-top: 50px;
}

/******** FOOTER SECTION START ********/

footer {
    background-color: #000000;
}

footer h4 {
    font-size: 8pt;
    letter-spacing: 2pt;
    margin: 50px auto;
    color: #fff;
}

/******** RESPONSIVE SECTION START ********/

    

/* Small Devices, Tablets */ 
    @media only screen and (max-width : 768px) {
        .about .main-text {
            width: 450px;
        }
        .contact .info {
          padding: 200px 0; 
        }
    }

/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
       .about .main-text {
            width: 330px;
        }
        .links .fa {
          padding: 100px 0;
        }
        .contact .info {
          padding: 50px 0; 
        }
    }

    @media only screen and (max-width : 375px) {
        .preloader {
            margin: -30px 0 0 -25px;
        }
    }

/* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .preloader {
            margin: -30px 0 0 -30px;
        }
        .about .main-text {
            width: 230px;
        }
        .links .fa {
          padding: 50px 0;
        }
        .contact .info {
          padding: 50px 0; 
        }
    }


/* Animated Header Section START */

.cd-intro{
    width: 100% !important;
    font-family: "Source Sans Pro", sans-serif !important;
}

.headline{
    width: 100% !important;
}

.cd-headline .letters .type{
    width: 100% !important;
}


/* Animated Header Section END */